:root {
  --my-brown: #f6d7a7;
  --my-gray: #f6eabe;
  --my-sky-blue: #c8e3d4;
  --my-blue: #87aaaa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--my-sky-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}


a.active, a:hover {
  border-bottom: 3px solid var(--my-blue);
}